@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root {
    /* Colores */
    --color-1: #00c65e;
    --color-2: #3b4472;
    --color-3: #363c45;
    --color-4: #f3f3f3;
    --color-boton: #ffb71c;

    --fuente-regular: 400;
    --fuente-medium: 500;
    --fuente-bold: 700;

    --box-shadow: 8px 8px 15px #c2c2c2;
}


/* Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    background-color: var(--color-4);
    color: var(--color-3);
    font-weight: var(--fuente-medium);
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color-boton);
    border-radius: 5px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}



/* Barra de navegacion */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 13;
    width: 100%;
    height: 60px;
    transition: .3s;
    background-color: var(--color-4);
}
header nav {
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar__logo h1 {
    font-size: 40px;
    color: var(--color-1);
}
.navbar {
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar ul {
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar ul li {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 20px;
}
.navbar .nav-link-activo {
    color: var(--color-2);
}
.navbar .nav-link-activo::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--color-2);
    border-radius: 2px;
}
.navbar ul li a {
    font-size: 14px;
    font-weight: var(--fuente-medium);
    color: var(--color-3);
}


/* Botones de la barra de navegacion */
.nav__botones {
    line-height: 60px;
    position: relative;
}
.nav__botones button {
    position: relative;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    background-color: var(--color-2);
    color: var(--color-4);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.nav__botones button i {
    font-size: 18px;
}
.nav__botones button p {
    position: absolute;
    top: 50%;
    left: 70%;
    background-color: var(--color-boton);
    width: 18px;
    height: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
#btn__menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}
#btn__menu i {
    font-size: 18px;
}


/* Main */
main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}


/* Banner */
#banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
    width: 900px;
    height: 500px;
    background-color: var(--color-1);
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    position: relative;
}


/* Banner contenido */
.banner__contenido {
    width: 50%;
    color: #fafafa;
    padding: 30px;
}
.banner__contenido h1 {
    font-size: 40px;
    text-transform: uppercase;
}
.banner__contenido p {
    font-weight: var(--fuente-regular);
    margin: 20px 0;
}
.banner__contenido a {
    background-color: var(--color-boton);
    color: var(--color-4);
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
}


/* Banner img */
.banner img {
    position: absolute;
    left: 50%;
    width: 600px;
    border-radius: 50%;
}


/* Banner links */
.banner__links {
    position: absolute;
    left: 30px;
    bottom: 30px;
    display: flex;
}
.banner__links a {
    display: block;
    width: 35px;
    height: 35px;
    background-color: var(--color-boton);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-4);
    margin-right: 10px;
}


/* Slider */
.catalogo__productos-destacados {
    
    position: relative;
    margin-top: 10px;
}


/* Slider items */
.catalogo__productos-destacados .slider .slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__img,
.catalogo__productos-destacados .slider .slider-item .slider-item__contenido {
    width: 200px;
    height: 200px;
    padding: 20px;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__img img {
    width: 100%;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__contenido {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__contenido .slider-item__titulo h4 {
    height: 40px;
    line-height: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__contenido .slider-item__titulo strong {
    
    padding: 5px 8px;
    display: block;
    width: max-content;
    margin: 8px 0;
    font-size: 20px;
}


/* Slider botones */
.catalogo__productos-destacados .btn__slider--prev,
.catalogo__productos-destacados .btn__slider--next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.catalogo__productos-destacados .btn__slider--prev {
    left: 20px;
}
.catalogo__productos-destacados .btn__slider--next {
    right: 20px;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__contenido .slider-item__botones {
    display: flex;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__contenido .slider-item__botones i {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 8px;
    cursor: pointer;
    text-align: center;
}


/* Catalogo */
.catalogo {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    display: flex;
}


/* Categorias */
.catalogo__categorias {
    width: 25%;
    height: 100%;
    margin: 0 10px;
    padding: 15px 8px;
    background-color: var(--color-1);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
.catalogo__categorias li {
    padding: 5px 12px;
}
.catalogo__categorias li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-4);
}
.catalogo__categorias li a i {
    opacity: 0;
    transform: translateX(-10px);
    transition: .5s;
}
.catalogo__categorias li:hover a i {
    opacity: 1;
    transform: translateX(0);
}


/* Producto nuevo del catalogo */
.catalogo__producto-nuevo {
    display: block;
    width: 75%;
    background-color: var(--color-1);
    color: var(--color-4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 8px 8px 15px #c2c2c2;
    position: relative;
}   
.catalogo__producto-nuevo h3 {
    position: absolute;
    font-size: 25px;
    text-transform: uppercase;
}
.catalogo__producto-nuevo .producto-nuevo__item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.producto-nuevo__contenido,
.producto-nuevo__img {
    width: 50%;
    padding: 20px;
}
.producto-nuevo__titulo {
    position: relative;
    padding: 10px 0;
    margin-bottom: 10px;
}
.producto-nuevo__titulo::after {
    position: absolute;
    content: '';
    background-color: var(--color-4);
    border-radius: 3px;
    height: 2px;
    left: 0;
    width: 50%;
    bottom: 0;
    border-radius: 2px;
}
.producto-nuevo__titulo h4 {
    font-size: 28px;
}
.producto-nuevo__titulo p {
    width: 100%;
    font-size: 14px;
    padding: 0 5px;
    font-weight: var(--fuente-regular);
}
.producto-nuevo__titulo p span {
    font-size: 14px;
    font-weight: var(--fuente-bold);
    margin-left: 20px;
    color: var(--color-boton);
}
.producto-nuevo__info p {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: var(--fuente-regular);
}
.producto-nuevo__info strong {
    font-size: 22px;
}
.producto-nuevo__img img {
    width: 100%;
}
.producto-nuevo__botones {
    padding: 10px 0;
}
.producto-nuevo__botones .btn__agregar {
    background-color: var(--color-boton);
    color: var(--color-4);
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 14px;
}
.producto-nuevo__botones .btn__agregar i {
    margin-left: 8px;
}


/* Catalogo info */
.catalogo__info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    place-content: center;
    gap: 30px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: var(--color-1);
    box-shadow: 8px 8px 15px #c2c2c2;
}
.catalogo__info li {
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--color-4);
}
.catalogo__info li i {
    font-size: 40px;
    padding-right: 20px;
    color: var(--color-1);
}
.catalogo__info li p {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    color: var(--color-2);
}
.catalogo__info li p span {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 10px;
}


/* Catalogo productos */
.catalogo__productos {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px 30px;
    margin-top: 60px;
}


/* Productos item */
.producto-item {
    border-radius: 20px;
    height: 100px;
    background-color: var(--color-1);
    color: var(--color-4);
    box-shadow: var(--box-shadow);
    max-width: 300px;
}
.producto-item img {
    width: 40%;
    height: 80px;
    padding: 5px;
    transform: translateY(-40px);
}
.producto-item__body,
.producto-item__footer {
    display: flex;
    height: 50%;
}
.producto-item__body {
    padding: 8px 12px;
}
.producto-item__body .producto-item__titulo {
    width: 60%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}
.producto-item__body .producto-item__titulo h4 {
    font-size: 14px;
    line-height: 15px;
}
.producto-item__body .producto-item__titulo span {
    font-size: 14px;
    margin-top: 3px;
    color: var(--color-boton);
}
.producto-item__footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
}
.producto-item__footer span {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--color-boton);
    color: var(--color-4);
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
}


/* Catalogo filtros */
.catalogo-completo__filtro {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.filtro__ordenar label i{
    font-size: 30px;
    vertical-align: middle;
}
.filtro__ordenar select {
    border: 2px solid var(--colorBoton1);
    padding: 8px 12px;
    outline: none;
    cursor: pointer;
}
.contador-catalogo {
    text-align: center;
    font-size: 14px;
}


/* Detalles del producto */
.producto {
    position: fixed;
    top: 10vh;
    bottom: 10vh;
    left: 20vh;
    right: 20vh;
    z-index: 15;
    margin: 0 auto;
    display: none;
    background-color: var(--color-4);
    color: var(--color-2);
    border: 3px solid var(--color-2);
    border-radius: 20px;
}
.producto-detalles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.producto-detalles__body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.producto-detalles__body::after {
    position: absolute;
    content: '';
    background-color: var(--color-2);
    bottom: 0;
    left: 15%;
    right: 15%;
    height: 2px;
    border-radius: 2px;
}
.producto-detalles__body img,
.producto-detalles__contenido {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.producto-detalles__body img {
    padding: 20px;
}
.producto-detalles__contenido .producto-detalles__titulo h4 {
    font-size: 25px;
    font-weight: var(--fuente-bold);
}
.producto-detalles__contenido p {
    font-size: 12px;
    color: var(--color-3);
    font-weight: var(--fuente-regular);
}
.producto-detalles__contenido p span {
    font-size: 14px;
    margin-left: 8px;
    font-weight: var(--fuente-medium);
    color: var(--color-boton);
}
.producto-detalles__precio {
    position: absolute;
    bottom: 20px;
    left: 40px;
}
.producto-detalles__precio strong {
    font-size: 25px;
}
.producto-detalles__footer {
    width: 400px;
    padding: 20px;
}
.producto-detalles__footer p {
    font-size: 14px;
    font-weight: var(--fuente-regular);
    color: var(--color-3);
    text-align: justify;
}


/* Productos similares */
.productos-similares {
    width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}
.producto-similar {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.producto-similar img {
    width: 70%;
    margin: auto;
}
.producto-similar__contenido h4 {
    font-size: 12px;
    height: 40px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.producto-similar__contenido p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.producto-similar__contenido p span {
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
    color: var(--color-boton);
}


/* Detalles del producto botones */
.producto .cerrar-detalle-producto {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    z-index: 15;
    cursor: pointer;
    color: var(--color-boton);
}
.producto-detalles__botones {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.producto-detalles__botones .btn__agregar {
    background-color: var(--color-boton);
    color: var(--color-4);
    padding: 8px 12px;
    font-size: 14px;
    font-weight: var(--fuente-bold);
    border-top-left-radius: 15px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 15px;
}
.producto-detalles__botones .btn__agregar i {
    margin-left: 8px;
}


/* Carrito */
.carrito {
    display: none;
    position: fixed;
    top: 10vh;
    bottom: 10vh;
    left: 20vh;
    right: 20vh;
    background-color: var(--color-4);
    color: var(--color-2);
    border: 3px solid var(--color-2);
    border-radius: 20px;
    padding: 20px;
    z-index: 15;
    justify-content: center;
    align-items: center;
}
.carrito__form,
.carrito__compra {
    width: 400px;
    height: 100%;
}
.mostrar-carrito {
    display: flex;
}
.btn__cerrar-carrito {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
    color: var(--color-boton);
}


/* Carrito formularios */
.carrito__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carrito__form form {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.carrito__form form::after {
    position: absolute;
    content: '';
    height: 2px;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--color-4);
    border-radius: 3px;
}


/* Carrito compra */
.carrito__compra {
    height: 100%;
}

/* Carrito total */
.carrito__total {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 0 5px 10px;
}
.carrito__total p,
.carrito__total strong {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carrito__total p {
    font-size: 14px;
    font-weight: var(--fuente-regular);
    color: var(--color-3);
}
.carrito__total p span {
    color: var(--color-2);
    font-size: 16px;
    font-weight: var(--fuente-medium);
}
.carrito__total strong {
    font-size: 18px;
}
.carrito__total strong span {
    font-size: 20px;
}
.carrito__total button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    width: max-content;
    border: none;
    background-color: var(--color-boton);
    color: var(--color-4);
    padding: 8px 12px;
    font-size: 14px;
    font-weight: var(--fuente-bold);
    border-top-left-radius: 15px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 15px;
}


/* Carrito productos */
.carrito__productos {
    width: 100%;
    height: 70%;
    padding: 0 10px;
    overflow-y: scroll;
}
.carrito__productos::-webkit-scrollbar {
    width: 8px;
}
.carrito__productos::-webkit-scrollbar-thumb {
    background-color: var(--color-boton);
    border-radius: 5px;
}
.carrito-item {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin: 12px 0;
    padding: 12px;
    box-shadow: 0 0 10px #c2c2c2;
    background-color: var(--color-4);
    color: var(--color-2);
}
.carrito-item img {
    height: 100%;
}
.carrito-item .carrito-item__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carrito-item .carrito-item__contenido h4 {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrito-item .carrito-item__contenido .carrito-item__cantidad {
    display: flex;
}
.carrito-item strong {
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.carrito-item .btn__eliminar-producto {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: var(--color-boton);
}


/*  Articulos */
article {
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/* Articulo titulo */
.articulo__titulo {
    width: 50%;
    margin-bottom: 50px;
}
.articulo__titulo h2 {
    font-size: 30px;
    padding: 0 30px 20px;
}
.articulo__titulo p {
    font-size: 18px;
    font-weight: var(--fuente-regular);
}
.articulo__titulo p span {
    font-style: italic;
}

/* Articulo cards */
.articulo-cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background-color: var(--color-1);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card img {
    position: absolute;
    top: -12%;
    left: -12%;
    width: 100%;
    border-radius: 50%;
}
.card .card__contenido {
    display: flex;
    flex-direction: column;
    color: var(--color-4);
    position: relative;
}
.card .card__contenido .card__descripcion {
    padding: 0 15px;
    margin-bottom: 40px;
}
.card .card__contenido .card__descripcion h4 {
    font-size: 18px;
}
.card .card__contenido .card__descripcion p {
    font-size: 14px;
    font-weight: var(--fuente-regular);
    margin: 8px 0;
}
.card .card__contenido button {
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    width: max-content;
    background-color: var(--color-boton);
    color: var(--color-4);
    padding: 8px 12px;
    font-size: 14px;
    font-weight: var(--fuente-bold);
    border-top-left-radius: 15px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 15px;
}


/* Articulo video */
.articulo-video {
    width: 80%;
    margin: 0 auto;
    background-color: var(--color-1);
    border-radius: 20px;
    padding: 30px;
}
.articulo-video video {
    width: 100%;
}


/* Articulo perfiles */
.articulo__perfiles {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.articulo__perfil {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: var(--color-1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
.articulo__perfil img {
    position: absolute;
    top: -10%;
    left: -10%;
    transform: scale(1.1);
    width: 100%;
    border-radius: 50%;
}
.articulo__perfil-nombre {
    padding: 15px;
    color: var(--color-4);
}
.articulo__perfil-nombre h4 {
    font-size: 18px;
}
.articulo__perfil-nombre span {
    font-size: 14px;
    font-weight: var(--fuente-regular);
}


/* Notificaciones */
#notificaciones {
    position: absolute;
    top: 60px;
    width: 300px;
    min-height: 50px;
    max-height: 200px;
    overflow-y: scroll;
    
    border: 2px solid var(--color2);
    padding: 10px;
    display: none;
}
#notificaciones .notificaiones-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#notificaciones .notificaiones-header h4 {
    font-size: 18px;
}
#notificaciones .notificaiones-header i {
    text-align: end;
    cursor: pointer;
    display: none;
}
#notificaciones::-webkit-scrollbar {
    width: 8px;
}
#notificaciones::-webkit-scrollbar-thumb {
    background-color: var(--color-boton);
    border-radius: 5px;
}

.notificaciones-contenido p {
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px solid var(--color2);
    
}


/* Footer */
footer {
    background-color: var(--color-2);
    color: var(--color-4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}
footer h2,
footer h3 {
}
footer p {
    background-color: var(--color-3);
    width: 100%;
    text-align: center;
    font-size: 14px;
}
footer h2 {
    line-height: 50px;
    font-size: 30px;
    text-transform: uppercase;
}
footer h3 {
    line-height: 40px;
    font-size: 22px;
    text-align: center;
}
.footer-contenido {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}
.footer-contenido__form,
.footer-contenido__map {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.footer-contenido__form form {
    display: flex;
}
.footer-contenido__form--inputs,
.footer-contenido__form--ta {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.footer-contenido__form form label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    
    padding: 3px;
    transform: translate(10px, 10px);
    width: max-content;
    position: relative;
}
.footer-contenido__form form label::after {
    position: absolute;
    content: '';
    
    height: 1px;
    top: 80%;
    left: 10%;
    right: 10%;
}
.footer-contenido__form form input[type=text]{
    background: none;
    border: 2px solid #fafafa;
    padding: 8px 10px;
    outline: none;
    margin-bottom: 10px;
    width: 150px;
    font-size: 12px;
}
.footer-contenido__form form textarea { 
    background: none;
    border: 2px solid #fafafa;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    outline: none;
    padding: 8px;
    font-size: 12px;
}
.footer-contenido__form form input[type=button] {
    width: max-content;
    margin: 8px auto 0;
    
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}
.footer-contenido__form form input[type=button]:hover {
    
}


/* Responsive */
@media screen and (max-width: 768px) {
    /* Barra de navegacion */
    .navbar {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        z-index: 2;
        background-color: var(--color-1);
        transition: .5s;
    }
    .navbar ul {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar ul li {
        height: max-content;
        padding: 20px;
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 20px;
    }
    .navbar .nav-link-activo::after {
        background-color: var(--color-4);
    }
    .navbar ul li a {
        font-size: 40px;
        font-weight: var(--fuente-medium);
        color: var(--color-4);
    }


    /* Mostrar menu */
    .mostrar-menu {
        transform: translateX(0);
    }
    
    
    /* Botones de la barra de navegacion */
    #btn__menu {
        display: block;
    }
    #btn__menu i {
        font-size: 20px;
    }


    /* Banner */
    .banner {
        width: 100%;
        margin: 15px;
    }


    /* Banner img */
    .banner img {
        left: 55%;
    }


    /* Catalogo info */
    .catalogo__info {
        margin: 20px auto;
        width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .catalogo__info li {
        width: 300px;
    }
    .catalogo__info li p {
        font-size: 14px;
    }
    .catalogo__info li p span {
        font-size: 16px;
    }


    /* Catalogo */
    .catalogo {
        flex-direction: column-reverse;
    }


    /* Producto nuevo del catalogo */
    .catalogo__producto-nuevo {
        width: 95%;
        margin: 20px auto;
    } 


    /* Categorias */
    .catalogo__categorias {
        width: 50%;
        margin: 20px auto;
    }
    .catalogo__categorias li {
        padding: 5px 12px;
    }
    .catalogo__categorias li a {
        font-size: 16px;
    }


    /* Catalogo productos */
    .catalogo__productos {
        padding: 20px;
    }


    /* Detalles del producto */
    .producto {
        left: 10vh;
        right: 10vh;
    }
    .producto-detalles__body {
        flex-direction: column;
    }
    .producto-detalles__body img {
        width: 300px;
        height: 300px;
    }
    .producto-detalles__contenido {
        width: 100%;
        height: max-content;
    }
    .producto-detalles__contenido {
        padding-bottom: 15px;
    }
    .producto-detalles__contenido .producto-detalles__titulo h4 {
        font-size: 30px;
    }
    .producto-detalles__contenido p {
        font-size: 14px;
    }
    .producto-detalles__contenido p span {
        font-size: 16px;
    }
    .producto-detalles__precio {
        position: absolute;
        bottom: 20px;
        left: 40px;
    }
    .producto-detalles__precio strong {
        font-size: 28px;
    }
    .producto-detalles__footer p {
        font-size: 16px;
    }


    /* Productos similares */
    .producto-similar__contenido h4 {
        font-size: 14px;
        line-height: 14px;
    }
    .producto-similar__contenido p {
        font-size: 16px;
    }
    .producto-similar__contenido p span {
        font-size: 16px;
    }


    /* Articulo titulo */
    .articulo__titulo {
        padding-left: 30px;
        width: 70%;
        margin-bottom: 50px;
    }


    /* Articulo cards */
    .card .card__contenido .card__descripcion h4 {
        font-size: 22px;
    }
    .card .card__contenido .card__descripcion p {
        font-size: 16px;
    }
    .card .card__contenido button {
        font-size: 16px;
    }


    /* Articulo video */
    .articulo-video {
        width: 90%;
        padding: 30px;
    }


    /* Articulo perfiles */
    .articulo__perfiles {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .articulo__perfil {
        margin: 20px;
    }


}

@media screen and (max-width: 415px) {
    /* Banner */
    .banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }


    /* Banner contenido */
    .banner__contenido {
        width: 100%;
    }
    .banner__contenido h1 {
        font-size: 30px;
    }


    /* Banner img */
    .banner img {
        top: -20%;
        left: -10%;
        width: 100%;
    }


    /* Banner links */
    .banner__links {
        left: auto;
        right: 20px;
        bottom: 20px;
    }


    /* Categorias */
    .catalogo__categorias {
        width: 90%;
        height: 100%;
    }


    /* Producto nuevo del catalogo */
    .catalogo__producto-nuevo {
        width: 90%;
    }  
    .catalogo__producto-nuevo .producto-nuevo__item {
        flex-direction: column-reverse;
    }
    .producto-nuevo__contenido,
    .producto-nuevo__img {
        width: 100%;
    }
    .producto-nuevo__titulo h4 {
        font-size: 32px;
    }
    .producto-nuevo__titulo p {
        font-size: 16px;
    }
    .producto-nuevo__titulo p span {
        font-size: 18px;
    }
    .producto-nuevo__info p {
        font-size: 16px;
    }
    .producto-nuevo__info strong {
        font-size: 25px;
    }
    .producto-nuevo__img img {
        width: 100%;
    }
    .producto-nuevo__botones .btn__agregar {
        font-size: 16px;
    }


    /* Catalogo productos */
    .catalogo__productos {
        padding: 3px;
        gap: 40px 3px;
        margin-top: 60px;
    }


    /* Productos item */
    .producto-item {
        margin: 0;
    }
    .producto-item img {
        height: 70px;
    }


    /* Detalles del producto */
    .producto {
        top: 10vh;
        bottom: 5vh;
        left: 5vh;
        right: 5vh;
    }
    .producto-detalles__body img {
        width: 250px;
        height: 250px;
    }
    .producto-detalles__contenido {
        padding: 0 15px 15px;
    }
    .producto-detalles__contenido .producto-detalles__titulo h4 {
        font-size: 24px;
    }
    .producto-detalles__contenido p {
        font-size: 12px;
    }
    .producto-detalles__contenido p span {
        font-size: 14px;
    }
    .producto-detalles__precio {
        bottom: 10px;
        left: 20px;
    }
    .producto-detalles__precio strong {
        font-size: 22px;
    }
    .producto-detalles__footer {
        width: 100%;
    }
    .producto-detalles__footer p {
        font-size: 14px;
    }


    /* Productos similares */
    .productos-similares {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    .producto-similar__contenido h4 {
        font-size: 12px;
        line-height: 12px;
    }
    .producto-similar__contenido p {
        font-size: 14px;
    }
    .producto-similar__contenido p span {
        font-size: 14px;
    }


    /* Carrito */
    .carrito {
        bottom: 3vh;
        left: 3vh;
        right: 3vh;
    }


    /* Articulos */
    article {
        padding-top: 60px;
    }


    /* Articulo titulo */
    .articulo__titulo {
        width: 100%;
    }
    .articulo__titulo h2 {
        font-size: 25px;
        padding: 0 25px 18px;
    }
    .articulo__titulo p {
        font-size: 16px;
    }


    /* Articulo cards */
    .articulo-cards {
        flex-wrap: wrap;
    }
    .card {
        margin-bottom: 20px;
    }


    /* Articulo perfiles */

    .articulo__perfil {
        width: 300px;
        height: 350px;
    }
    .articulo__perfil-nombre h4 {
        font-size: 22px;
    }
    .articulo__perfil-nombre span {
        font-size: 16px;
    }

}

