@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');


:root {
    /* Fuentes */
    --fuente1: 'Roboto Mono', monospace;
    --fuente2: 'Montserrat', sans-serif;

    /* Colores */
    --color1: #508ce4;
    --color2: #2c64b4;
    --colorBoton1: #a0ab31;
    --colorBoton1-2: #c0c132;
    --colorBoton2: #DAB44A;
    --colorFuente: #372d23;
    --colorScroll1: #e95d5c;
    --colorScroll2: #e6e1dd;

    /* Cards */
    --card-radius: 10px;

    /* Botones */
    --btn-radius: 8px;
    --btn-padding: 8px 12px;
    --btn-fontsize: 14px;
    --btn-fontw: 700;

}


/* Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--colorFuente);
    font-family: var(--fuente2);
    background-color: #fafafa;
    width: 100%;
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--colorScroll2);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--colorScroll1);
}
h1, h2, h3 {
    color: var(--color2);
    font-family: var(--fuente1);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}



/* Barra de navegacion */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 60px;
    background-color: #fafafa;
}
header nav {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin: 0 10px;
}
header nav ul li a {
    font-family: var(--fuente1);
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    color: var(--color1);  
}
.nav-link-activo {
    color: var(--color2);
}

/* Botones de la barra de navegacion */
.nav__botones {
    position: relative;
}
.nav__botones button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}
.nav__botones button i {
    color: var(--color2);
    font-size: 18px;
}
.nav__botones button p {
    position: absolute;
    top: 50%;
    left: 100%;
    background-color: var(--colorScroll1);
    color: #fafafa;
    width: 18px;
    height: 18px;
    font-size: 10px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}
#btn__menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}
#btn__menu i {
    color: var(--color2);
    font-size: 18px;
}


/* Main */
main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Banner */
#banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* Banner info */
.banner-info {
    width: 40%;
}
.banner-info__titulo h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color2);
    color: #fafafa;
    width: max-content;
}
.banner-info__titulo h2 span {
    padding: 3px 5px;
    line-height: 30px;
    color: var(--color1);
}
.banner-info__titulo p {
    line-height: 22px;
    margin: 8px 0;
}
.banner-info__titulo p span {
    background-color: var(--colorBoton2);
    color: #fafafa;
    padding: 0 3px;
    font-family: var(--fuente1);
}


/* Banner botones */
.banner-info__botones {
    display: flex;
}
.banner-info__botones a {
    display: block;
    width: max-content;
    border: 2px solid var(--colorBoton1-2);
    padding: 6px 10px;
    font-size: 14px;
    font-weight: bold;
    transition: .3s;
}
.banner-info__botones a:nth-child(1) {
    background-color: var(--colorBoton1-2);
    color: #fafafa;
    margin-right: 8px;
}
.banner-info__botones a:nth-child(2) {
    color: var(--colorBoton1-2);
}
.banner-info__botones a:hover {
    border: 2px solid var(--colorBoton1);
}
.banner-info__botones a:hover:nth-child(1) {
    background-color: var(--colorBoton1);
}
.banner-info__botones a:hover:nth-child(2) {
    color: var(--colorBoton1);
}


/* Banner imagen */
.banner-img {
    width: 60%;
}
.banner-img img {
    width: 100%;
}


/* Banner links */
.banner__links {
    position: absolute;
    left: 0;
    bottom: 100px;
    display: flex;
}
.banner__links li {
    margin: 0 10px;
}
.banner__links li a {
    color: var(--color1);
    font-size: 20px;
}
.banner__links li a:hover {
    color: var(--color2);
}


/* Catalogo */
.catalogo {
    width: 100%;
    margin: 0 auto;
    display: flex;
}


/* Categorias */
.catalogo__categorias {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    background-color: var(--color2);
    padding: 0 10px;
}
.catalogo__categorias li {
    background-color: var(--colorBoton1);
    margin: 8px 0;
    padding: 3px 5px;
}
.catalogo__categorias li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #fafafa;
    font-weight: bold;
    font-family: var(--fuente1);
    padding: 0 5px;
}
.catalogo__categorias li a i {
    opacity: 0;
    transform: translateX(-10px);
    transition: .5s;
}
.catalogo__categorias li a:hover i {
    opacity: 1;
    transform: translateX(0);
}

/* Boton ver categorias */
.btn__ver-categorias {
    display: none;
    width: 300px;
    margin: 0 auto;
    background-color: var(--color2);
    border: none;
    color: #fafafa;
    font-size: 18px;
    padding: 8px 12px;
}


/* Slider */
.catalogo__productos-destacados {
    background-color: var(--color2);
    position: relative;
    margin-top: 10px;
}

/* Slider items */
.catalogo__productos-destacados .slider .slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__img,
.catalogo__productos-destacados .slider .slider-item .slider-item__contenido {
    width: 200px;
    height: 200px;
    padding: 20px;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__img img {
    width: 100%;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__contenido {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__contenido .slider-item__titulo h4 {
    font-family: var(--fuente1);
    height: 40px;
    line-height: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__contenido .slider-item__titulo strong {
    background-color: var(--colorBoton2);
    color: #fafafa;
    padding: 5px 8px;
    display: block;
    width: max-content;
    margin: 8px 0;
    font-size: 20px;
}


/* Slider botones */
.catalogo__productos-destacados .btn__slider--prev,
.catalogo__productos-destacados .btn__slider--next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--colorBoton1);
    color: #fafafa;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.catalogo__productos-destacados .btn__slider--prev {
    left: 20px;
}
.catalogo__productos-destacados .btn__slider--next {
    right: 20px;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__contenido .slider-item__botones {
    display: flex;
}
.catalogo__productos-destacados .slider .slider-item .slider-item__contenido .slider-item__botones i {
    border: 2px solid var(--colorBoton1-2);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 8px;
    cursor: pointer;
    text-align: center;
}


/* Catalogo productos */
.catalogo__productos {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


/* Productos item */
.producto-item {
    position: relative;
    margin: 5px;
}
.producto-item__img {
    border-top: 4px solid var(--color2);
    border-left: 4px solid var(--color2);
    border-right: 4px solid var(--color2);
    background-color: var(--color2);
    padding: 15px;
}
.producto-item__img img {
    width: 100%;
}
.producto-item__contenido {
    border-bottom: 4px solid var(--color2);
    border-left: 4px solid var(--color2);
    border-right: 4px solid var(--color2);
    padding: 5px 10px 15px;
}
.producto-item__contenido h4 {
    height: 40px;
    line-height: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-family: var(--fuente1);
    margin-bottom: 8px;
}
.producto-item__contenido strong {
    background-color: var(--colorBoton2);
    color: #fafafa;
    padding: 3px 5px;
}
.producto-item__botones {
    position: absolute;
    top: 5px;
    right: 0;
    display: flex;
}
.producto-item__botones i {
    border: 2px solid var(--colorBoton1-2);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
}


.btn__agregar {
    background-color: var(--colorBoton1-2);
    color: #fafafa;
}
.btn__ver-producto {
    color: var(--colorBoton1-2);
}


/* Catalogo filtros */
.catalogo-completo__filtro {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.filtro__ordenar label i{
    color: var(--colorBoton1);
    font-size: 30px;
    vertical-align: middle;
}
.filtro__ordenar select {
    border: 2px solid var(--colorBoton1);
    padding: 8px 12px;
    outline: none;
    cursor: pointer;
    color: var(--colorBoton1);
}
.contador-catalogo {
    text-align: center;
    font-size: 14px;
    font-family: var(--fuente1);
}


/* Detalles del producto */
#producto {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    display: none;
    background-color: #fafafa;
    border-radius: var(--card-radius);
    border: 4px solid var(--color2);
}
#producto .producto {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#producto .producto h4 {
    text-align: center;
}
#producto .producto .producto-detalles {
    border-bottom: 2px solid var(--color2);
}
#producto .producto .producto-detalles .producto-detalle {
    display: flex;
    justify-content: center;
    align-items: center;
}
#producto .producto .producto-detalles .producto-detalle .producto-info,
#producto .producto .producto-detalles .producto-detalle .producto__img {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
#producto .producto .producto-detalles .producto-detalle .producto__img  img{
    height: 300px;
    width: 300px;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto__nombre,
#producto .producto .producto-detalles .producto-detalle .producto-info .producto__categoria,
#producto .producto .producto-detalles .producto-detalle .producto-info .producto__precio,
#producto .producto .producto-detalles .producto-detalle .producto-info .producto-info__footer {
    border-bottom: 1px solid var(--color2);
    width: 100%;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto__nombre {
    padding: 8px 0;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto__nombre h4 {
    font-size: 25px;
    text-align: left;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto__categoria span {
    font-size: 12px;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto__precio {
    display: flex;
    padding: 18px 0;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto__precio p {
    color: var(--color1);
    font-size: 25px;
    line-height: 18px;
    margin-right: 20px;
    position: relative;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto__precio p:nth-child(1):before {
    position: absolute;
    bottom: 100%;
    left: 0;
    content: "Precio al contado";
    font-size: 10px;
    width: max-content;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto__precio p:nth-child(2):before {
    position: absolute;
    bottom: 100%;
    left: 0;
    content: "Hasta 12 cuotas sin interes de";
    font-size: 10px;
    width: max-content;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto__precio p:nth-child(2)::after {
    position: absolute;
    top: 100%;
    left: 0;
    content: "cada una";
    font-size: 10px;
    width: max-content;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto-info__footer {
    color: var(--colorBoton1);
    padding: 10px 0;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto-info__footer p {
    font-size: 14px;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto-info__descripcion {
    padding: 5px 0;
}
#producto .producto .producto-detalles .producto-detalle .producto-info .producto-info__descripcion p {
    font-size: 14px;
}


/* Productos similares */
#producto .producto .productos-similares {
    display: flex;
    justify-content: center;
}
#producto .producto .productos-similares .producto-similar {
    text-align: center;
    margin: 0 10px;
}
#producto .producto .productos-similares .producto-similar .producto-similar__img img {
    width: 90px;
    height: 90px;
}
#producto .producto .productos-similares .producto-similar .producto-similar__info h4 {
    font-size: 14px;
    line-height: 10px;
}
#producto .producto .productos-similares .producto-similar .producto-similar__info strong {
    font-size: 14px;
}

/* Productos similares botones */
#producto .producto .cerrar-detalle-producto {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--colorScroll1);
    color: #fafafa;
    padding: 8px;
    border-radius: var(--btn-radius);
    cursor: pointer;
}


/* Carrito */
.carrito {
    display: none;
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    background-color: #fafafa;
    border: 4px solid var(--color2);
    border-radius: var(--btn-radius);
    overflow-y: scroll;
    padding: 20px;
}
.carrito li {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color2);
    border-left: 6px solid var(--color2);
    border-radius: var(--btn-radius);
    margin-bottom: 8px;
}
.carrito::-webkit-scrollbar {
    width: 8px;
}
.carrito::-webkit-scrollbar-thumb{
    background-color: var(--colorScroll1);
}
.mostrar-carrito {
    display: block;
}


/* Carrito header */
.carrito-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 10px;
}
.carrito-header h3 {
    font-size: 30px;
}

/* Carrrito body*/
.carrito-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-img,
.item-nombre,
.item-precio,
.item-cantidad {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-img img {
    width: 60px;
    height: 60px;
}
.item-precio strong {
    font-size: 18px;
}
.item-cantidad {
    justify-content: space-between;
    border: 2px solid var(--color2);
    border-radius: var(--btn-radius);
    padding: 2px 5px;
}
.item-cantidad .cantidad-contador {
    font-size: 14px;
}


/* Carrito footer */
.carrito-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.carrito-footer li p {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}
.carrito-footer li span {
    color: var(--colorBoton1);
}


/* Carrito finalizacion */
.carrito-finalizacion {
   width: 100%;
   padding: 20px;
}
.carrito-finalizacion h4 {
    color: var(--color2);
    font-size: 20px;
}
.carrito-finalizacion-contenido {
    width: 100%;
    padding: 20px 0;
}
.carrito-finalizacion-contenido p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.carrito-finalizacion-contenido p span {
    color: var(--colorBoton1);
}


/* Carrito botones */
.btn__cerrar-carrito {
    color: var(--colorScroll1);
    font-size: 22px;
    cursor: pointer;
}
.btn__restar-cantidad,
.btn__sumar-cantidad {
    cursor: pointer;
    color: var(--color2);
}
.btn__eliminar-producto {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--btn-radius);
    background-color: var(--colorScroll1);
    color: #fafafa;
    cursor: pointer;
    font-size: var(--btn-fontsize);
    margin: 0 10px;
}
.btn__cancelar-compra {
    background-color: var(--colorScroll1);
}
.btn__continuar-compra {
    background-color: var(--colorBoton2);
}
.btn__finalizar-compra {
    background-color: var(--colorBoton1);
}
.btn__continuar-compra,
.btn__cancelar-compra,
.btn__finalizar-compra {
    border: none;
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    color: #fafafa;
    font-size: var(--btn-fontsize);
    margin-right: 10px;
}


/* Mostrar */
.show {
    transform: translateX(0);
}


/*  Articulos */
article {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.articulo {
    margin-top: 60px;
    width: 400px;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.articulo__titulo {
    padding: 10px;
}
.articulo__titulo h2 {
    color: #fafafa;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    font-family: var(--fuente1);
}
.articulo__titulo h2::after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 0;
    left: 20%;
    right: 20%;
    background-color: #fafafa;
}
.articulo p {
    color: #fafafa;
    margin: 10px 20px;
}
.articulo p span {
    background-color: var(--colorBoton2);
    padding: 0 3px;
}


/* Articulo cards */
.articulo-cards {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px ,1fr));
    background-color: var(--color2);
}
.articulo-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}
.articulo-cards .card .card-img {
    transform: translateY(20px);
}
.articulo-cards .card .card-img img {
    width: 100%;
}
.articulo-cards .card .card-info {
    width: 100%;
    background-color: #fafafa;
    transform: translateY(-20px);
    padding: 15px;
}
.articulo-cards .card .card-info h4 {
    height: 40px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 500;
    width: max-content;
    display: flex;
    align-items: center;
    font-family: var(--fuente1);

}
.articulo-cards .card .card-info p {
    font-size: 14px;
    font-weight: 500;
    margin: 8px 0;
}
.articulo-cards .card .card-info button {
    background-color: var(--colorBoton1-2);
    border: none;
    color: #fafafa;
    padding: 5px 8px;
    font-size: 14px;
    transition: .3s;
    font-weight: bold;
}
.articulo-cards .card .card-info button:hover {
    background-color: var(--colorBoton1);
}
.articulo-img {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: var(--color2);
}
.articulo-img .articulo-img__card {
    margin: 20px;
    position: relative;
    transition: .5s;
    max-width: 300px;
    height: 300px;
    overflow: hidden;
}
.articulo-img .articulo-img__card .card-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
}
.articulo-img .articulo-img__card:hover .card-info {
    opacity: 1;
}
.articulo-img .articulo-img__card img {
    width: 100%;
    height: 100%;
    transition: .5s;
}
.articulo-img .articulo-img__card:hover img {
    transform: scale(1.3);
}
.articulo-img .articulo-img__card .card-info .card-info__nombre h4,
.articulo-img .articulo-img__card .card-info .card-info__nombre span {
    background-color: var(--colorBoton2);
    margin: 3px;
    color: #fafafa;
    font-family: var(--fuente1);
    padding: 0 3px;
}
.articulo-img .articulo-img__card .card-info .card-info__nombre span {
    font-size: 14px;
}
.articulo-img .articulo-img__card .card-info .card-info__links {
    display: flex;
    flex-direction: column;
}
.articulo-img .articulo-img__card .card-info .card-info__links a {
    display: block;
    color: var(--color1);
    width: 20px;
    height: 20px;
    font-size: 18px;
    margin: 5px;
}
.articulo-img .articulo-img__card .card-info .card-info__links a:hover {
    color: var(--color2);
}

/* Articulo video */
.articulo-video {
    width: max-content;
    padding: 30px;
    background-color: var(--color2);
}
.articulo-video video {
    width: 600px;
}


/* Notificaciones */
#notificaciones {
    position: absolute;
    top: 60px;
    width: 300px;
    min-height: 50px;
    max-height: 200px;
    overflow-y: scroll;
    background-color: #fafafa;
    border: 2px solid var(--color2);
    padding: 10px;
    display: none;
}
#notificaciones .notificaiones-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#notificaciones .notificaiones-header h4 {
    color: var(--color2);
    font-size: 18px;
}
#notificaciones .notificaiones-header i {
    text-align: end;
    color: var(--color2);
    cursor: pointer;
    display: none;
}
#notificaciones::-webkit-scrollbar {
    width: 8px;
}
#notificaciones::-webkit-scrollbar-thumb {
    background-color: var(--colorScroll1);
}

.notificaciones-contenido p {
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px solid var(--color2);
    background-color: var(--colorScroll2);
}


/* Footer */
footer {
    background-color: var(--color1);
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}
footer h2,
footer h3 {
    color: #fafafa;
}
footer p {
    background-color: var(--color2);
    width: 100%;
    text-align: center;
    font-size: 14px;
}
footer h2 {
    line-height: 50px;
    font-size: 30px;
    text-transform: uppercase;
}
footer h3 {
    line-height: 40px;
    font-size: 22px;
    text-align: center;
}
.footer-contenido {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}
.footer-contenido__form,
.footer-contenido__map {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.footer-contenido__form form {
    display: flex;
}
.footer-contenido__form--inputs,
.footer-contenido__form--ta {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.footer-contenido__form form label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--fuente1);
    background-color: var(--color1);
    padding: 3px;
    transform: translate(10px, 10px);
    width: max-content;
    position: relative;
}
.footer-contenido__form form label::after {
    position: absolute;
    content: '';
    background-color: #fafafa;
    height: 1px;
    top: 80%;
    left: 10%;
    right: 10%;
}
.footer-contenido__form form input[type=text]{
    background: none;
    border: 2px solid #fafafa;
    color: #fafafa;
    padding: 8px 10px;
    outline: none;
    margin-bottom: 10px;
    width: 150px;
    font-size: 12px;
}
.footer-contenido__form form textarea { 
    background: none;
    border: 2px solid #fafafa;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    color: #fafafa;
    outline: none;
    padding: 8px;
    font-size: 12px;
}
.footer-contenido__form form input[type=button] {
    width: max-content;
    margin: 8px auto 0;
    background-color: var(--colorBoton1-2);
    padding: 8px 12px;
    color: #fafafa;
    border: none;
    cursor: pointer;
}
.footer-contenido__form form input[type=button]:hover {
    background-color: var(--colorBoton1);
}


/* Responsive */
@media screen and (max-width: 768px) {
    /* Barra de navegacion */
    #btn__menu {
        display: block;
    }
    header nav ul {
        position: fixed;
        top: 60px;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fafafa;
        width: 100%;
        transform: translateX(-100%);
        transition: .5s;
    }
    header nav ul li {
        margin: 8px 0;
    }
    header nav ul li a {
        font-size: 40px;
    }


    /* Banner */
    #banner {
        flex-direction: column;
    }
    .banner-contenido,
    .banner-img {
        width: 80%;
    }
    .banner-contenido h2 {
        font-size: 60px;
    }
    .banner-contenido h4 {
        font-size: 20px;
    }
    .banner-contenido a {
        margin-right: 10px;
        font-size: 20px;
    }


    /* Catalogo */
    .catalogo {
        flex-direction: column;
    }


    /* Catalogo categorias */
    .btn__ver-categorias {
        display: block;
    }
    .catalogo__categorias {
        display: block;
        margin: 0 auto;
    }


    /* Detalle producto */
    #producto .producto .producto-detalles .producto-detalle {
        flex-direction: column;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info,
    #producto .producto .producto-detalles .producto-detalle .producto__img {
        width: 100%;
        height: max-content;
        padding: 0 40px;
    }
    #producto .producto .producto-detalles .producto-detalle .producto__img  img{
        height: 200px;
        width: 200px;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info .producto__nombre {
        padding: 12px 0;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info .producto__nombre h4 {
        font-size: 40px;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info .producto__categoria {
        padding: 5px 0;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info .producto__categoria span {
        font-size: 16px;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info .producto__precio {
        padding: 25px 0;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info .producto__precio p {
        color: var(--color1);
        font-size: 30px;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info .producto-info__descripcion {
        padding: 10px 0 20px;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info .producto-info__descripcion p {
        font-size: 16px;
    }
    
    
    /* Productos similares */
    #producto .producto .productos-similares .producto-similar {
        margin: 0 12px;
    }
    #producto .producto .productos-similares .producto-similar .producto-similar__img img {
        width: 100px;
        height: 100px;
    }
    #producto .producto .productos-similares .producto-similar .producto-similar__info h4 {
        font-size: 18px;
        line-height: 16px;
    }
    #producto .producto .productos-similares .producto-similar .producto-similar__info strong {
        font-size: 18px;
    }


    /* Notificaciones */
    #notificaciones {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 400px;
        min-height: 50px;
        max-height: 200px;
    }
    #notificaciones .notificaiones-header h4 {
        font-size: 22px;
    }  
    .notificaciones-contenido p {
        font-size: 14px;
    }


    /* Articles */
    .articulo-cards {
        flex-direction: column;
    }


    /* Articulo video */
    .articulo-video video {
        width: 600px;
    }


    /* Footer */
    .footer-contenido {
        flex-direction: column;
    }
    .footer-contenido form {
        flex-direction: column;
    }
    .footer-contenido__form,
    .footer-contenido__map {
        height: max-content;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 415px) {
    /* Banner info */
    .banner-info {
        width: 80%;
    }


    /* Banner imagen */
    .banner-img {
        width: 100%;
    }


    /* Banner links */
    .banner__links {
        position: absolute;
        left: 0;
        bottom: 100px;
        display: flex;
    }
    .banner__links li {
        margin: 0 10px;
    }
    .banner__links li a {
        color: var(--color1);
        font-size: 20px;
    }
    .banner__links li a:hover {
        color: var(--color2);
    }

    /* Detalles del producto */
    #producto {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info,
    #producto .producto .producto-detalles .producto-detalle .producto__img {
        padding: 0 20px;
    }
    #producto .producto .producto-detalles .producto-detalle .producto__img  img{
        height: 150px;
        width: 150px;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info .producto__nombre {
        padding: 8px 0;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info .producto__nombre h4 {
        font-size: 30px;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info .producto__categoria {
        padding: 3px 0;
    }
    #producto .producto .producto-detalles .producto-detalle .producto-info .producto__categoria span {
        font-size: 14px;
    }
    
    
    /* Productos similares */
    #producto .producto .productos-similares .producto-similar {
        margin: 0 8px;
    }
    #producto .producto .productos-similares .producto-similar .producto-similar__img img {
        width: 80px;
        height: 80px;
    }
    #producto .producto .productos-similares .producto-similar .producto-similar__info h4 {
        font-size: 14px;
        line-height: 14px;
    }
    #producto .producto .productos-similares .producto-similar .producto-similar__info strong {
        font-size: 16px;
    }


    /* Carrito */
    .carrito {
        display: none;
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(0);
        width: 100%;
        border-radius: 0;
        padding: 10px;
    }
    .mostrar-carrito {
        display: block;
    }
    
    
    /* Carrito header */
    .carrito-header {
        padding: 0 15px 9px;
    }
    .carrito-header h3 {
        font-size: 35px;
    }
    
    /* Carrrito body*/
    .item-img,
    .item-nombre,
    .item-precio,
    .item-cantidad {
        width: 80px;
    }
    .item-img img {
        width: 50px;
        height: 50px;
    }
    .item-precio strong {
        font-size: 14px;
    }
    

    /* Articulos */
    .article-data h2 {
        font-size: 28px;
    }
    .article-img {
        flex-wrap: wrap;
    }
    .article-img img {
        width: 50%;
        padding: 10px;
    }


    /* Articulo video */
    .articulo-video {
        width: 100%;
    }
    .articulo-video video {
        width: 100%;
    }


    /* Aritculo cards*/
    .articulo-img {
        width: 100%; 
    }
}

